body {
    font-family: "Poppins", sans-serif;
    background-color: #52b788;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2, label {
    font-size: 1rem;
    font-weight: 700;
}

/*Scroll bar*/

::-webkit-scrollbar {
    width: 10px;
    color: #2d6a4f73;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #2d6a4f;
    border-radius: 5px;
}

/* Container */
.container-fluid {
    background-color: #FFF;
    width: 600px;
    padding: 20px 25px;
    margin: 100px 20px;
    border-radius: 10px;
}

/* Title */

.title {
    font-family: "Ubuntu";
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
}

/*Wrapper inputs*/

.wrapper {
    display: flex;
}

/*Box inputs*/

.box-input:nth-child(2) {
    margin-left: 10px;
}

.box-input {
    width: 50%;
}

/*Wrapper radios*/

.form-check-label {
    margin-right: 10px;
}

/* Sign-up button */
.btn-login {
    background-color: #52b788;
    color: #FFF;
    transition: 1.5s;
    margin-bottom: 20px;
}

.btn-login:hover {
    background-color: #2d6a4f;
    color: #FFF;
}

.link {
    color: #52b788;
    transition: 1.5s;
}

.link:hover {
    color: #2d6a4f;
}

@media (max-width: 650px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wrapper div {
        width: 100%;
    }

    .box-input {
        margin-bottom: 1rem!important;
    }

    .box-input:nth-child(2) {
        margin-left: 0;
    }
}
